h1, h2, h3, ul, p {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: 'Apple Chancery';
}

img {
    max-width: 100%;
}

.sidebar-cont {
    background-color: #ffaec9;
    float: left;
    height: 100%;
    position: fixed;
    width: 200px;
}

#content {
    margin-left: 200px;
    overflow: hidden;
}

.nav-cont {
    margin-top: 50px;
}

.navbar {
    margin: 0px;
    width: 100%;
}

.navbar > li {
    list-style: none;
}

.navbar > li > a {
    color: #ffffff;
    display: block;
    font-size: 1.15em;
    font-weight: 200;
    padding: 10px 20px;
    transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
}

.navbar > li > a:hover {
    background-color: #fa91b4;
    text-decoration: none;
}

.header-cont h1 {
    color: #ffaec9;
    position: absolute;
    top: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    width: 100%;
}